{% extends "base.html" %}

{% block content %}
<a href="{% url 'tasks:task_list' %}" style="color: #0d6efd;">Task list</a><br/>
<a href="{% url 'tasks:task_update' object.id %}" style="color: #0d6efd;">Update Task</a><br/>
<a href="{% url 'tasks:task_delete' object.id %}" style="color: #0d6efd;">Delete Task</a><br/>
<h1 style="color: 99b3ff;">{{ object.name }}</h1>
{% for tag in object.tags.all %}
{{ tag.name }}<br/>
{% endfor %}
<br/>
<p style="color: black;">Description: {{ object.description }}</p><br/>
<p style="color: black;">Date: {{ object.date }}</p> <br/>

{% endblock content %}
