{% extends "base.html" %}
{% load django_vite %}

{% block content %}
    <div id="app">
        <app></app>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
    var ext_task_id = "{{ task_id }}"
    var ext_task_detail_js_url = "{% url 'tasks:task_detail_js' task_id %}"
    var ext_task_list_url = "{% url 'tasks:task_list'  %}"
    var ext_task_update_url = "{% url 'tasks:task_update' task_id %}"
    var ext_task_delete_url = "{% url 'tasks:task_delete' task_id %}"
    </script>

    {% vite_asset 'src/apps/task_show/task_show.js' %}
{% endblock js %}
