{% extends "base.html" %}
{% load django_vite %}
{% block head %}
    <script type="text/javascript">
        ext_csrf_token="{{csrf_token}}"; 
        ext_tag_list = "{{ tag_list | safe }}";
        ext_task_dict = "{{ task_dict | safe }}";
        ext_update_bis_url = "{% url 'tasks:task_update_bis' object.id %}"
    </script>
{% endblock head%}
{% block content %}
<a href="{% url 'tasks:task_list' %}">Tasks list</a><br/><br/>

    <div id="appedit">
        <div token="{{csrf_token}}"></div>
        <app></app>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_form = `{{form.as_p | safe}}`
        var ext_task_dict = "{{ task_dict | safe }}";
        var ext_tag_list = "{{ tag_list | safe }}";
        var ext_update_bis_url = "{% url 'tasks:task_update_bis' object.id %}"
        
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/task_edit/task_edit.js' %}
{% endblock js %}
